{% extends "smartgrid/base.html" %}

{% block nav %}
<ul class="nav">
    <li><a href="{% url 'smartgrid:prehomepage' %}">Start</a></li>
    <li><a href="{% url 'smartgrid:vraagzijdesturing' %}">Vraagzijdesturing</a></li>
    <li><a href="{% url 'smartgrid:info_apparaten' %}">Apparaten</a></li>
    <li><a class="active" href="{% url 'smartgrid:projectverdeling' %}">Projectverdeling</a></li>
    <li><a href="{% url 'smartgrid:resultaat' %}">Resultaat</a></li>
    <li><a href="{% url 'smartgrid:login' %}">Log in</a></li>
</ul>
{% endblock nav %}

{% block content %}
<h1>Projectverdeling</h1>
<h4><strong>Communicatie</strong></h4>
<p>Communicatie zorgt voor de software die de gegevens in de database worden omgezet naar effectieve commando's die de toestellen regelen.</p>
<h4><strong>Database en interface</strong></h4>
<p>Bij het beheren van een slim energienetwerk is er nood aan een enorme hoeveelheid data, zoals de verbruikscyclus van een wasmachine en wanneer de gebruiker de was gedaan wil hebben. Voor het opslaan van deze gegevens is een database nodig. De gebruikers moeten hun voorkeuren ook in deze database kunnen invoeren, dit gebeurt door middel van een interface. Met al deze gegevens houden de andere deelteams dan rekening om de energiesturing te optimaliseren. Deze centrale unit is dus eigenlijk het kloppend hart van dit hele project. <br>Onze voornaamste taken tijdens dit project waren het programmeren van een database met bijhorende web-interface, het opzoeken van apparaat gegevens en rapporteren over de problematiek van energiesturing.
</p>
<h4><strong>Elektronica</strong></h4>
<p>Elektronica maakt een elektrisch circuit dat de planning, opgesteld door optimalisatie, visualiseert en de toeschouwers laat interageren met het systeem.</p>
<h4><strong>Encryptie</strong></h4>
<p>Team encryptie zorgt ervoor dat alle data juist aankomt en beveiligd wordt. Alle doorgestuurde data wordt gecontroleerd door het communicatieprotocol en beveiligd door de NORX encryptie methode.</p>
<h4><strong>Optimalisatie</strong></h4>
<p>Optimalisatie zoekt een optimum voor het toestelgebruik om de vraag zo te sturen dat het overeenkomt met het energieaanbod van de wijk. Het optimalisatieprobleem vertaalt zich in een wiskundig model met als objectieffunctie het minimaliseren van de kostprijs en dit binnen algemene en toestel specifieke beperkingen. Het model ontvangt de toestelparameters uit de database en geeft een tijdsschema terug aan de database met de planning van alle gestuurde toestellen.</p>

{% endblock content %}