{% extends "smartgrid/base.html" %}

{% block nav %}
    <ul class="nav">
        <li><a href="{% url 'smartgrid:prehomepage' %}">Start</a></li>
        <li><a href="{% url 'smartgrid:vraagzijdesturing' %}">Vraagzijdesturing</a></li>
        <li><a href="{% url 'smartgrid:info_apparaten' %}">Apparaten</a></li>
        <li><a class="active" href="{% url 'smartgrid:projectverdeling' %}">Projectverdeling</a></li>
        <li><a href="{% url 'smartgrid:resultaat' %}">Resultaat</a></li>
        <li><a href="{% url 'smartgrid:login' %}">Log in</a></li>
    </ul>
{% endblock nav %}

{% block content %}
    <h1>Projectverdeling</h1>

    <h4><strong>Database en interface</strong></h4>
    <ul>
        <p>Bij het beheren van een slim energienetwerk is er nood aan een enorme hoeveelheid data, zoals de
            verbruikscyclus van een wasmachine en wanneer de gebruiker de was gedaan wil hebben. Voor het opslaan van
            deze gegevens is een database nodig. De gebruikers moeten hun voorkeuren ook in deze database kunnen
            invoeren, dit gebeurt door middel van een interface. Met al deze gegevens houden de andere deelteams dan
            rekening om de energiesturing te optimaliseren. Deze centrale unit is dus eigenlijk het kloppend hart van
            dit hele project. <br>Onze voornaamste taken tijdens dit project waren het programmeren van een database met
            bijhorende web-interface, het opzoeken van apparaat gegevens en rapporteren over de problematiek van
            energiesturing.
        </p>
        <p><strong>Teamleden:</strong> Vincent Aelbrecht, Tijs Bergmans, Toon Deburchgrave, Wiebe Desaever, Wouter Follon</p>
    </ul>

    <h4><strong>Optimalisatie</strong></h4>
    <ul>
        <p>Optimalisatie zoekt een optimum voor het toestelgebruik om de vraag zo te sturen dat het overeenkomt met het
            energieaanbod van de wijk. Het optimalisatieprobleem vertaalt zich in een wiskundig model met als
            objectieffunctie het minimaliseren van de kostprijs en dit binnen algemene en toestel specifieke
            beperkingen. Het model ontvangt de toestelparameters uit de database en geeft een tijdsschema terug aan de
            database met de planning van alle gestuurde toestellen.
        </p>
        <p><strong>Teamleden:</strong> Midas Caubergs, Nathan Cornille, Jasper Daniels</p>
    </ul>

    <h4><strong>Elektronica</strong></h4>
    <ul>
        <p>Elektronica maakt een elektrisch circuit dat de planning voor de verschillende huishoudtoestellen, opgesteld
            door optimalisatie, zichtbaar maakt. Dit dealteam visualiseert bovendien interactie tussen de toeschouwers en de
            demo-opstelling.</p>
        <p><strong>Teamleden:</strong> Maarten Feys, Arne De Laender </p>
    </ul>

    <h4><strong>Communicatie</strong></h4>
    <ul>
        <p>Communicatie zorgt voor de software die de gegevens in de database omzet naar effectieve commando's
            die de toestellen regelen.</p>
        <p><strong>Teamleden:</strong> Maarten Durt, Kevin Dierckx</p>
    </ul>


    <h4><strong>Encryptie</strong></h4>
    <ul>
        <p>Encryptie schrijft een versleutelingsalgoritme dat gebaseerd is op het NORX-algoritme dat bovenop de
            communicatie moet komen. Daarnaast onderzoekt ze de eventuele gevaren en problemen van Smart Grids en gaat
            op zoek naar realistische oplossingen, die ze op de demonstratiedag aan het grote publiek in meer detail uit
            de doeken zullen doen. <br/> Dit deelteam zorgt ook voor de communicatie tussen de verschillende huizen en
            de centrale database. Hierbij zijn de uitwerking van een communicatieprotocol en de opbouw van een server
            belangrijk.</p>
        <p><strong>Teamleden:</strong> Lukas Liekens, Thomas Hendrickx, Stef Jochems, Jelle Lanting, Bert Leroy </p>
    </ul>


{% endblock content %}

