{% extends "smartgrid/base.html" %}

{% block nav %}
<ul class="nav">
    <li><a href="{% url 'smartgrid:prehomepage' %}">Start</a></li>
    <li><a href="{% url 'smartgrid:vraagzijdesturing' %}">Vraagzijdesturing</a></li>
    <li><a href="{% url 'smartgrid:info_apparaten' %}">Apparaten</a></li>
    <li><a href="{% url 'smartgrid:projectverdeling' %}">Projectverdeling</a></li>
    <li><a class="active" href="{% url 'smartgrid:resultaat' %}">Resultaat</a></li>
    <li><a href="{% url 'smartgrid:demo_encryptie' %}">Demo encryptie</a></li>
    <li><a href="{% url 'smartgrid:login' %}">Log in</a></li>
</ul>
{% endblock nav %}

{% block content %}
<h1>Onder constructie...</h1>
<p>Deze pagina is nog onder constructie.</p>
{% endblock content %}