{% extends "smartgrid/base.html" %}

{% block nav %}
    <ul class="nav">
        <li><a href="{% url 'smartgrid:prehomepage' %}">Start</a></li>
        <li><a class="active" href="{% url 'smartgrid:vraagzijdesturing' %}">Vraagzijdesturing</a></li>
        <li><a href="{% url 'smartgrid:info_apparaten' %}">Apparaten</a></li>
        <li><a href="{% url 'smartgrid:projectverdeling' %}">Projectverdeling</a></li>
        <li><a href="{% url 'smartgrid:resultaat' %}">Resultaat</a></li>
        <li><a href="{% url 'smartgrid:login' %}">Log in</a></li>
    </ul>
{% endblock nav %}

{% load staticfiles %}
{% block content %}
    <h1>Vraagzijdesturing</h1>
    <div class="row">
        <div class="col-md-6">
            <p>Vraagzijdesturing baseert zich op het concept &lsquo;vraag volgt aanbod&rsquo;. Hierbij worden gebruikers
                aangespoord om eerder energie te consummeren als deze in grote mate beschikbaar is, dan op momenten dat
                de energieproductie veel lager ligt. Dat concept wordt mooi ge&iuml;llustreerd in bijgevoegde grafiek.
                Hier wordt een verschuiving van de vraag naar energie getoond, waarbij de pieken en dalen zoveel
                mogelijk dienen weggewerkt te worden. Uiteindelijk zou de vraagcurve zo goed mogelijk moeten
                overeenkomen met de aanbodcurve om het elektriciteitsnet niet te overbelasten. </p>
            <p>
                De verschuiving van energie kan teweeggebracht worden door het gebruik van toestellen te verschuiven in
                de tijd. Een mooi voorbeeldje van een toestel waarop dit kan toegepast worden is een vaatwasmachine. De
                gebruiker wil dat de vaat klaar is voor een bepaald tijdstip, maar het maakt niet uit als dit enkele
                uren of minuten vroeger is. Ook koel- en verwarmingstoestellen kunnen op dit systeem worden aangesloten.
                Er wordt dan iets meer gekoeld of verwarmd als er veel energie beschikbaar is. Meer informatie over de
                verschillende categorie&euml;n van toestellen is te vinden onder de tab &lsquo;apparaten&rsquo;.</p>
            <p>
                Door het energieverbruik af te stemmen op de productie van groene energiebronnen zal er veel minder
                hernieuwbare energie verloren gaan. Dit heeft natuurlijk een positieve invloed op het milieu. Dit
                systeem heeft echter niet alleen goede gevolgen voor het mileieu, maar ook voor de gebruikers. Het kan
                namelijk zorgen voor een lagere elektriciteitsrekening door met slim prijssysteem te werken. Groene
                stroom is namelijk goedkoper dan niet-hernieuwbare energie. De elektriciteitsprijs kan bijvoorbeeld elk
                uur ge&uuml;pdatet worden, afhankelijk van de huidige beschikbare energie.
            </p>
        </div>
        <div class="pull-right">
            <img src="{% static 'smartgrid/img/vraagzijdesturing.png' %}" height="300px" class="img-responsive">
        </div>
    </div>
{% endblock content %}