{% extends "smartgrid/base_login.html" %}

{% block content %}
<h2>Apparaten</h2>
{% for room in rooms_list %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ room.room_name }}</h3>
        </div>
        <div class="list-group">
            {% for appliance in room.heatloadinvariablepower_set.all %}
            <a href="#" class="list-group-item">{{ appliance.appliance_name }}</a>
            {% endfor %}
        </div>
    </div>
{% endfor %}
{% endblock content %}