{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Slimme-energiewoningen</title>

    <!-- Bootstrap -->
    <link href="{% static 'smartgrid/css/theme.min.css' %}" rel="stylesheet">

    <!-- CSS -->
    <link href="{% static 'smartgrid/css/main.css' %}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'smartgrid/img/favicon.ico' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via  -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <a href="{% url 'smartgrid:prehomepage' %}"><img class="logo" height="80px"
                                                                 src="{% static 'smartgrid/img/logo.png' %}"/></a>
            </div>
            <div class="pull-right">
                {% block nav %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% block jumbo %}
{% endblock jumbo %}

<div class="main">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-xs-6">
                <p>© 2015, ESAT5A, KU Leuven. Alle rechten gereserveerd.<br></p>
                {% block footer %}
                {% endblock footer %}
            </div>
            <div class="pull-right">
                <a href="http://www.kuleuven.be/" target="_blank"><img class="kul" height="40px"
                                                                 src="{% static 'smartgrid/img/kuleuven.png' %}"/></a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'smartgrid/js/jquery.min.js' %}"></script>
<script src="{% static 'smartgrid/js/bootstrap.min.js' %}"></script>
{% block script %}
{% endblock script %}
</body>
</html>
