{% extends "smartgrid/base.html" %}

{% block nav %}
    <ul class="nav">
        <li><a class="active" href="{% url 'smartgrid:prehomepage' %}">Start</a></li>
        <li><a href="{% url 'smartgrid:vraagzijdesturing' %}">Vraagzijdesturing</a></li>
        <li><a href="{% url 'smartgrid:info_apparaten' %}">Apparaten</a></li>
        <li><a href="{% url 'smartgrid:projectverdeling' %}">Projectverdeling</a></li>
        <li><a href="{% url 'smartgrid:resultaat' %}">Resultaat</a></li>
        <li><a href="{% url 'smartgrid:login' %}">Log in</a></li>
    </ul>
{% endblock nav %}

{% block jumbo %}
    <div class="jumbotron">
        <div class="container">
            <h1>Energy grids made smart.</h1>

            <p style="text-align: left">Dankzij slimme sturing van de vraagzijde, lossen we het energieprobleem een
                beetje op.</p>
            <a class="btn2" href="#energiesturing">Lees meer</a>
        </div>
    </div>
{% endblock jumbo %}

{% block content %}
    <h1 id="energiesturing">Waarom vraagzijdesturing nodig is</h1>
    <p>De laatste decennia van de twintigste eeuw is de gemiddelde temperatuur op aarde gestegen met 0,85&deg;C. Een
        temperatuurstijging van 2&deg;C zou naar verwachting grote negatieve gevolgen kunnen hebben voor mens en milieu,
        zoals zeespiegelstijging en extreme neerslag. Daarom hebben de leiders van Europese Unie en de G8 een
        doelstelling gesteld om de uitstoot van broeikasgassen sterk te verminderen. Om de uitstoot van broeikasgassen
        in de energiesector te bestrijden, wordt er tegenwoordig steeds meer beroep gedaan op hernieuwbare
        energiebronnen zoals zonne- en windenergie. Maar de productie van groene energie ondergaat veel fluctuaties.
        Zonnepanelen en windmolens geven namelijk geen constante energieoutput, aangezien ze afhankelijk zijn van
        weersomstandigheden. Dit zorgt voor een aantal technische uitdagingen. In het elektriciteitssysteem moeten vraag
        en aanbod namelijk op elk moment in evenwicht zijn om stroompannes te vermijden. Het meer variabele aanbod van
        de hernieuwbare energiebronnen vereist dus meer flexibiliteit van de rest van het systeem. </p>

    <p>De derde grootste sector van energieverbruik in Belgi&euml; zijn de huishoudens. Daarom is het belangrijk dat
        deze ook hun steentje bijdragen. Daarenboven zijn de huishoudens &eacute;&eacute;n van de meest flexibele
        verbruikers van energie. Hierdoor is het gemakkelijker om in deze sector het energieverbruik af te stemmen op de
        productie van de hernieuwbare energiebronnen. En dat is nu net waar dit project op ingaat: flexibilisering van
        het energieverbruik van de huishoudens, zonder een comfortverlies. </p>

    <p>Voor meer informatie over de verschillende concepten en aspecten van vraagzijdesturing kan u beroep doen op
        bovenstaande navigatiebalk.</p>

    <h2>Achtergrond van het project</h2>
    <p>
        Dit project is in het kader van P&O3 (Probleemoplossen en Ontwerpen) in het tweede jaar van de bachelor
        Ingenieurswetenschappen aan de KU Leuven. Het is een project aan het departement <a
            href="http://esat.kuleuven.be/" target="_blank">Elektrotechniek (ESAT)</a>.
    </p>
    <ul class="list-unstyled">
        <li><strong>Co-titularissen:</strong> Geert Deconinck, Vincent Rijmen, Patrick Reynaert</li>
        <li><strong>Begeleiders:</strong> Hanspeter Höschle, Arne van Stiphout, Glenn Plancke</li>
    </ul>
    {#    <table class="table">#}
    {#        <tr>#}
    {#            <td><strong>Co-titularissen:</strong></td>#}
    {#            <td>Geert Deconinck, Vincent Rijmen, Patrick Reynaert</td>#}
    {#        </tr>#}
    {#        <tr>#}
    {#            <td><strong>Begeleiders:</strong></td>#}
    {#            <td>Hanspeter Höschle, Arne van Stiphout, Glenn Plancke</td>#}
    {#        </tr>#}
    {#    </table>#}
{% endblock content %}

{% block footer %}
    <p></p>
    <small>Afbeelding door <em>Jürgen from Sandesneben, Germany</em>, 2005. Wikimedia.</small></p>
{% endblock footer %}
