{% extends "smartgrid/base.html" %}

{% block nav %}
    <ul class="nav">
        <li><a class="active" href="{% url 'smartgrid:prehomepage' %}">Start</a></li>
        <li><a href="{% url 'smartgrid:vraagzijdesturing' %}">Vraagzijdesturing</a></li>
        <li><a href="{% url 'smartgrid:info_apparaten' %}">Apparaten</a></li>
        <li><a href="{% url 'smartgrid:projectverdeling' %}">Projectverdeling</a></li>
        <li><a href="{% url 'smartgrid:resultaat' %}">Resultaat</a></li>
        <li><a href="{% url 'smartgrid:login' %}">Log in</a></li>
    </ul>
{% endblock nav %}

{% block jumbo %}
    <div class="jumbotron">
        <div class="container">
            <h1>Energy grids made smart.</h1>
            <p style="text-align: left">Dankzij slimme sturing van de vraagzijde, lossen we het energieprobleem een
                beetje op.</p>
            <a class="btn2" href="#energiesturing">Lees meer</a>
        </div>
    </div>
{% endblock jumbo %}

{% block content %}
    <h1 id="energiesturing">Waarom energiesturing nodig is</h1>
    <p>
        De milieuproblematiek is tegenwoordig één van de belangrijkste uitdagingen voor de mensheid. Om deze op te lossen, wordt er steeds meer overgeschakeld van fossiele brandstoffen naar hernieuwbare energiebronnen. Deze produceren echter niet aan een constant energieniveau, denk maar aan een windmolen, die meer of minder wind vangt, of zonnepanelen, bij zonnig weer of met bewolking. Dit brengt voor ons energienet een extra uitdaging. Als op ons huidige net de energievraag sterk afwijkt van het aanbod, is er kans op een black-out. De energie moet dus gestuurd worden zodat er altijd een evenwicht is tussen productie en consumptie.
    </p>
    <p>
        De derde grootste sector van energieverbruik in België zijn de huishoudens. Daarom is het belangrijk dat deze ook hun steentje bijdragen. Daarenboven zijn de huishoudens één van de meest flexibele verbruikers van energie. Hierdoor is het gemakkelijker om in deze sector het energieverbruik af te stemmen op de productie van de hernieuwbare energiebronnen.
    </p>
    <p>
        En dat is nu net waar dit project op ingaat: flexibilisering van het energieverbruik van de huishoudens, zonder een comfortverlies. Voor meer informatie over de verschillende concepten en aspecten kan u beroep doen op bovenstaande navigatiebalk.
    </p>
{% endblock content %}

{% block footer %}
<p></p><small>Afbeelding door <em>Jürgen from Sandesneben, Germany</em>, 2005. Wikimedia.</small></p>
{% endblock footer %}
