{% extends "smartgrid/base_home.html" %}
{% block content %}
<h1>Projectverdeling</h1>
<h4><strong>Communicatie</strong></h4>
<p>Communicatie zorgt ervoor dat de gegevens in de database worden omgezet naar effectieve commando's die de toestellen regelen.</p>
<h4><strong>Database en interface</strong></h4>
<p>Team database en interface slaagt alle gegevens van de apparaten op en zorgt ervoor dat deze zichtbaar zijn voor de gebruikers. De database krijgt gegevens binnen van team elektronica en bepaalt met die gegevens welk programma van team optimalisatie moet gebruikt worden. De uitkomsten van dat programma wordt vervolgens doorgegeven aan team communicatie en zo uiteindelijk terug naar de huizen.<br/>Daarbij verzorgt dit team de interface zodat de gebruikers kunnen kijken wat er gebeurt in het huis en eventuele aanpassingen aan te brengen.</p>
<h4><strong>Elektronica</strong></h4>
<p>Elektronica zorgt ervoor dat de planning opgesteld door optimalisatie gevisualiseerd wordt en zorgt ervoor dat de toeschouwers kunnen interageren met het systeem.</p>
<h4><strong>Encryptie</strong></h4>
<p>Team encryptie zorgt ervoor dat alle data juist aankomt en beveiligd wordt. Alle doorgestuurde data wordt gecontroleerd door het communicatieprotocol en beveiligd door de NORX encryptie methode.</p>
<h4><strong>Optimalisatie</strong></h4>
<p>Team optimalisatie zoekt een optimum voor het toestelgebruik om de vraag zo te sturen dat het overeenkomt met het energieaanbod van de wijk. Het optimalisatieprobleem vertaalt zich in een wiskundig model met als objectieffunctie het minimaliseren van de kostprijs en dit binnen algemene en toestelspecifieke beperkingen. In dit model zijn alle toestellen beschreven aan de hand van vier categorie&euml;n met elk hun eigen karakteristieken. Het model ontvangt de toestelparameters uit de database en geeft een tijdsschema terug aan de database met de planning van alle gestuurde toestellen.</p>

{% endblock content %}