{% extends "smartgrid/base.html" %}

{% block nav %}
<ul class="nav">
    <li><a class="active" href="{% url 'smartgrid:home' %}">Home</a></li>
    <li><a href="{% url 'smartgrid:rooms' %}">Kamers</a></li>
    <li><a href="{% url 'smartgrid:scenario' %}">Grafieken</a></li>
    <li><a href="{% url 'smartgrid:logout' %}">Log uit</a></li>
</ul>
{% endblock nav %}

{% block content %}
<h1>Welkom {{full_name}}!</h1>
<a href="{% url 'smartgrid:rooms' %}" class="btn btn-primary">Kamers</a>
<p></p>
{% endblock content %}
