{% extends "smartgrid/base.html" %}

{% block nav %}
<ul class="nav">
    <li><a href="{% url 'smartgrid:home' %}">Start</a></li>
    <li><a class="active" href="{% url 'smartgrid:rooms' %}">Kamers</a></li>
    <li><a href="{% url 'smartgrid:scenario' %}">Grafieken</a></li>
    <li><a href="{% url 'smartgrid:logout' %}">Log uit</a></li>
</ul>
{% endblock nav %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{% url 'smartgrid:home' %}">Home</a></li>
    <li><a href="{% url 'smartgrid:rooms' %}">Kamers</a></li>
    <li class="active">{{ room }}</li>
</ol>

<h2>{{ room }}</h2>
<div class="list-group">
    {% if room.fixeddemand_set.all %}
        {% for appliance in room.fixeddemand_set.all %}
            <a class="list-group-item" href="{% url 'smartgrid:fixed' appliance.id %}">{{ appliance }}</a>
        {% endfor %}
    {% endif %}

    {% if room.shiftingloadcycle_set.all %}
        {% for appliance in room.shiftingloadcycle_set.all %}
            <a class="list-group-item" href="{% url 'smartgrid:shiftingloadcycle' appliance.id %}">{{ appliance }}</a>
        {% endfor %}
    {% endif %}

    {% if room.heatloadinvariablepower_set.all %}
        {% for appliance in room.heatloadinvariablepower_set.all %}
            <a class="list-group-item" href="{% url 'smartgrid:heatloadinvariable' appliance.id %}">{{ appliance }}</a>
        {% endfor %}
    {% endif %}

    {% if room.heatloadvariablepower_set.all %}
        {% for appliance in room.heatloadvariablepower_set.all %}
            <a class="list-group-item" href="{% url 'smartgrid:heatloadvariable' appliance.id %}">{{ appliance }}</a>
        {% endfor %}
    {% endif %}

</div>
{% endblock content %}