{% extends "smartgrid/base.html" %}
{% load staticfiles %}

{% block nav %}
    <ul class="nav">
        <li><a href="{% url 'smartgrid:home' %}">Start</a></li>
        <li><a href="{% url 'smartgrid:rooms' %}">Kamers</a></li>
        <li><a class="active" href="{% url 'smartgrid:scenario' %}">Grafieken</a></li>
        <li><a href="{% url 'smartgrid:demo_encryptie' %}">Demo encryptie</a></li>
        <li><a href="{% url 'smartgrid:logout' %}">Log uit</a></li>
    </ul>
{% endblock nav %}


{% block content %}
    <h1>Grafieken</h1>
    <h3>Momenteel is het scenario: <strong>{{ current_neighborhood_name }}</strong></h3>
    <div class="graph" id="price_chart"></div>
    <div class="graph" id="energy_chart"></div>
    <div class="graph" id="consumption_chart"></div>

    <h1>Verander scenario</h1>

    {% if neighborhood_list|length == 1 %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Er is maar &eacute;&eacute;n scenario ingesteld.
        </div>
        <a type="button" class="btn btn-success btn-lg active">{{ neighborhood_list.0.neighborhood_name }}</a>
    {% else %}
        <div class="btn-group">
            {% for neighborhood in neighborhood_list %}
                {% if neighborhood.neighborhood_name == current_neighborhood_name %}
                    <a type="button" class="btn btn-success btn-lg active">{{ neighborhood.neighborhood_name }}</a>
                {% else %}
                    <a type="button" class="btn btn-default btn-lg"
                       href="{% url 'smartgrid:change_scenario' neighborhood.id %}">{{ neighborhood }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <h1>Scenariobediening</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="timer"></div>
            <div id="update-status" class="scenario-no-update"></div>
        </div>
        <div class="col-md-6">
            <div class="start-stop-buttons scenario-toggle">
                <button id="start" class="btn btn-default" aria-label="Left Align" onclick="start_simulation()">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>Start simulatie
                </button>
                <button id="pause" class="btn btn-default" onclick="pause_simulation()">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>Pauzeer simulatie
                </button>
                <button id="stop" class="btn btn-danger" onclick="stop_simulation()">Stop simulatie</button>
            </div>
            <div class="step-changer scenario-toggle" data-toggle="buttons">
                <span class="black">Update:</span>
                <div id="step-change-group" style="display: inline-block" class="btn-group">
                    <label class="btn btn-default active">
                        <input type="radio" name="change-step" value="kwartier" id="kwartier" autocomplete="off" checked> Ieder kwartier
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="change-step" value="halfuur" id="halfuur" autocomplete="off"> Ieder half uur
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="change-step" value="uur" id="uur" autocomplete="off"> Ieder uur
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="change-step" value="tweeuur" id="tweeuur" autocomplete="off"> Iedere twee uur
                    </label>
                </div>
            </div>

            <div id="slider">
                <input type="range" name="step" id="step" min="0.1" max="5" step="0.1" value="1">
                <p class="black">Aantal seconden per gesimuleerd kwartier: <b><span id="step-amount"></span></b></p>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script src="{% static 'smartgrid/js/highcharts.js' %}"></script>
    <script>

        started = false;
        var url = "{% url 'smartgrid:set_scenario_time' 1234567890 %}";
        i = 1;
        step = 1;
        update_interval = 15;

        function update() {
            if (i == 1441) {
                stop_simulation();
            }
            if (i % update_interval == 0) {
                var newUrl = url.replace('1234567890', (Math.floor(i / 15)).toString());
                $.ajax({url: newUrl});
                $("#update-status").toggleClass("scenario-no-update").toggleClass("scenario-update");
                setTimeout(function() {
                    $("#update-status").toggleClass("scenario-no-update").toggleClass("scenario-update");
                }, 200);
            }
            $(".timer").html(twodigits(Math.floor(i / 60)) + "u" + twodigits(i % 60));
            i++;
        }

        function twodigits(number) {
            return (number < 10 ? '0' : '') + number
        }

        function start_simulation() {
            if (!started) {
                started = true;
                $("#start").addClass("active");
                $("#pause").removeClass("active");
                $(".timer").addClass("running").removeClass("paused");
                timer = setInterval(update, step * 1000 / 15.0);
            }
        }

        function stop_simulation() {
            started = false;
            clearInterval(timer);
            $("#start").removeClass("active");
            $("#pause").removeClass("active");
            $(".timer").html("00u00").removeClass("running").removeClass("paused");
            i = 1;
        }

        function pause_simulation() {
            if (started) {
                started = false;
                $("#start").removeClass("active");
                $("#pause").addClass("active");
                $(".timer").removeClass("running").addClass("paused");
                clearInterval(timer);
            }
        }

        $(document).ready(function () {
            $(".timer").html("00u00");
            $("#start").removeClass("active");
            $("#step-amount").html(step);
            $("#step").val(step);
            $("#step").change(function () {
                var did_start = started;
                pause_simulation();
                $("#step-amount").html($("#step").val());
                step = $("#step").val();
                if (did_start) {
                    start_simulation();
                }
            });
            $("input[name='change-step']").change(function() {
                if ($("#step-change-group input:radio:checked").val() == "kwartier") {
                    update_interval = 15;
                } else if ($("#step-change-group input:radio:checked").val() == "halfuur") {
                    update_interval = 30;
                } else if ($("#step-change-group input:radio:checked").val() == "uur") {
                    update_interval = 60;
                } else if ($("#step-change-group input:radio:checked").val() == "tweeuur") {
                    update_interval = 120;
                }
            });
        })

    </script>
    <script>
        $(function () {
            $("#price_chart").highcharts({
                title: {
                    text: 'Energieprijs'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: 'Tijd'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + " u"
                        }
                    },
                    {#                    tickPositions: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]#}
                },
                yAxis: {
                    title: {
                        enabled: true,
                        text: 'Energieprijs'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + " EUR"
                        }
                    }
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    valueSuffix: '€'
                },
                series: [{
                    name: 'Energieprijs',
                    color: '#006838',
                    data: {{ energy_price_data }}
                }]
            });
            $("#energy_chart").highcharts({
                title: {
                    text: 'Beschikbare energie'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: 'Tijd'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + " u"
                        }
                    },
                    {#                    tickPositions: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]#}
                },
                yAxis: {
                    title: {
                        enabled: true,
                        text: 'Beschikbare energie'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + " W"
                        }
                    }
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    valueSuffix: ' W'
                },
                series: [{
                    name: 'Beschikbare energie',
                    color: '#006838',
                    data: {{ available_energy_data }}
                }]
            });
            $("#consumption_chart").highcharts({

                title: {
                    text: 'Verbruik'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: 'Tijd'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + " u"
                        }
                    },
                    {#                    tickPositions: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]#}
                },
                yAxis: {
                    title: {
                        enabled: true,
                        text: 'Verbruik'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + " W"
                        }
                    }
                },
                plotOptions: {
                    line: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    valueSuffix: ' W'
                },
                series: [
                    {% for consumption in consumption_list %}
                        {
                            name: "{{ consumption.name }}",
                            data: {{ consumption.data }},
                            {% if consumption.linewidth %}
                                lineWidth: {{ consumption.linewidth }}
                            {% endif %}
                        },
                    {% endfor %}
                ]
            });
        })
    </script>
{% endblock script %}
