.html .body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #03492b;
}

p {
    text-align: justify;
}

li {
    text-align: justify;
}

.container {
    max-width: 980px;
}

.content {
    padding-bottom: 100px;
}

.header {
    background-color: #8DC53E;
    color: #fff;
    padding: 15px 0;
}

.logo:hover {
    opacity: 0.6;
}

.header h1 a {
    color: #fff;
}

.header h1 a:hover {
    text-decoration: none;
    transition-duration: 0.7s;
}

.header .nav {
    display: inline-block;
    margin-top: 22px;
}

.header .nav .active {
    background-color: #A5D166;
}

.header .nav li {
    display: inline-block;
}

.header .nav li a {
    color: #fff;
    display: block;
}

.header .nav li a:hover {
    background-color: #7FB436;
    transition-duration: 0.7s;
}

.header .nav li a:active {
    background-color: transparent;
}

.jumbotron {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    min-height: 600px;
    background: url('../img/jumbo.jpg') no-repeat center center;
    background-size: cover;
    padding: 200px 0;
}

.jumbotron .container {
    position: relative;
}

.main {
    background: url('../img/maincontent-bg.gif') repeat-x bottom center;
    min-height: 500px;
    margin-bottom: 0;
    color: #057343;
    padding: 30px 0;
    padding-bottom: 220px;
}

#login {
    max-width: 400px;
    margin: 50px auto;
    border: 1px solid #8DC53E;
    border-radius: 3px;
    padding: 30px;
}

.breadcrumb {
    background-color: #f8f8f8;
}

.footer {
    background-color: #006838;
    height: 100px;
    color: #fff;
    margin-top: 0;
    padding-top: 40px;
    box-shadow: 0px 10000px 0px 10000px #006838;
}

.btn2 {
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 0;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 6px 12px;
}

.btn2:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    text-decoration: none;
    transition-duration: 0.7s;
}

.kul:hover {
    box-shadow: 0 0 10px #000;
    transition-duration: 0.5s;
}

.timer {
    color: #fff;
    background-color: #d1d1d1;
    font-size: 35px;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
}

.running {
    background-color: #8DC53E;
}

.paused {
    background-color: #BADC89;
}

#slider {
    padding: 20px;
    max-width: 400px;
}

.black {
    color: #000;
}

.scenario-toggle {
    margin-top: 10px;
}

.scenario-no-update {
    display: inline-block;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #D1D1D1;
}

.scenario-update {
    display: inline-block;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #8DC53E;
}

/***** Stijlen voor de slider bij de scenario *****/
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #8DC53E;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #8DC53E;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #8DC53E;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}