.html .body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #fff;
}

.header {
	background-color: #8DC53E;
	color: #fff;
	padding: 15px 0;
}

.header .btn {
	margin-top: 40px;
}

.header .nav {
	display: inline-block;
	margin-top: 20px;
}

.header .nav .active {
	background-color: #A5D166;
}

.header .nav li {
	display: inline-block;
}

.header .nav li a {
	color: #fff;
	display: block;
}

.header .nav li a:hover {
	background-color: #7FB436;
}

.header .nav li a:active {
	background-color: transparent;
}

.jumbotron {
	background: url('../img/maincontent-bg.gif') repeat-x bottom center;
	min-height: 500px;
	margin-bottom: 0;
	color: #057343;
	padding-bottom: 200px;
}

.main {
	background: url('../img/maincontent-bg.gif') repeat-x bottom center;
	min-height: 500px;
	margin-bottom: 0;
	color: #057343;
	padding: 30px 0;
	padding-bottom: 200px;
}

.breadcrumb {
	background-color: #f8f8f8;
}

.footer {
	background-color: #006838;
	height: 100px;
	color: #fff;
	margin-top: 0;
	padding-top: 40px;
}