.html .body {
	font-family: 'Lato', sans-serif;
	background-color: #fff;
}

.header h1 {
	font-family: 'Lobster';
}

.header {
	background-color: #8DC53E;
	color: #fff;
	padding: 15px 0;
}

.header .btn {
	margin-top: 40px;
}

.jumbotron {
	background: url('../img/maincontent-bg.gif') repeat-x bottom center;
	min-height: 500px;
	margin-bottom: 0;
	color: #057343;
}

.main {
	background: url('../img/maincontent-bg.gif') repeat-x bottom center;
	min-height: 500px;
	margin-bottom: 0;
	color: #057343;
	padding: 30px 0;
}

.footer {
	background-color: #006838;
	height: 100px;
	color: #fff;
	margin-top: 0;
	padding-top: 40px;
}