{% extends "smartgrid/base.html" %}

{% block nav %}
<ul class="nav">
    <li><a href="{% url 'smartgrid:home' %}">Home</a></li>
    <li><a class="active" href="{% url 'smartgrid:rooms' %}">Kamers</a></li>
    <li><a href="{% url 'smartgrid:scenario' %}">Grafieken</a></li>
    <li><a href="{% url 'smartgrid:logout' %}">Log uit</a></li>
</ul>
{% endblock nav %}

{% block content %}
<h1>Hallo wereld</h1>
<form action="{% url 'smartgrid:add' room.id %}" method="post">
    {% csrf_token %}
    {% for appliance in room.appliance_set.all %}
    <input type="radio" name="appliance" value="{{ appliance.id }}"/>
    {% endfor %}
    <input type="submit" value="Toevoegen"/>
</form>
{% endblock content %}