{% extends "smartgrid/base.html" %}

{% block nav %}
<ul class="nav">
    <li><a href="{% url 'smartgrid:home' %}">Start</a></li>
    <li><a class="active" href="{% url 'smartgrid:rooms' %}">Kamers</a></li>
    <li><a href="{% url 'smartgrid:scenario' %}">Grafieken</a></li>
    <li><a href="{% url 'smartgrid:logout' %}">Log uit</a></li>
</ul>
{% endblock nav %}


{% block content %}
<h2> {{ appliance }} </h2>
<table class="table">
  <tr>
    <td>Eindtijd</td>
    <td>{{latest_end_time}}</td>
  </tr>
</table>
{% endblock content %}